# keys, certificates
*.crt
*.key

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

#layout files
*.gbr

# Debug files
*.dSYM/

#Altium
*.Dat
*.htm
*.REP
*.TLT
/PCB/altium/*.pdf

#Folders
/server_on_ubuntu/wallpappers
server_on_ubuntu/server/old_mysql_database_2020.3.29/**
other/pictures/**
PCB/altium/*/**
PCB/Sprint_Layout/**
client_old/**
other/pictures/**
.vscode/**


