# Folders
server_on_ubuntu/server/webpage/www/html/esp/update/log/**
server_on_ubuntu/server/webpage/www/html/esp/update/bin/**
server_on_ubuntu/server/old_mysql_database_2020.3.29/**

# keys, certificates
*.crt
*.csr
*.key

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin