#ifndef CERT_H
#define CERT_H

const char mqtt_user[] = "user";
const char mqtt_pass[] = "password";

const char CA_cert[] = \
"-----BEGIN CERTIFICATE-----\n" \
"################################################################\n" \
"################################################################\n" \
"################################################################\n" \
"-----END CERTIFICATE-----";

const char ESP_CA_cert[] = \
"-----BEGIN CERTIFICATE-----\n" \
"################################################################\n" \
"################################################################\n" \
"################################################################\n" \
"-----END CERTIFICATE-----";

const char ESP_RSA_key[] = \
"-----BEGIN RSA PRIVATE KEY-----\n" \
"################################################################\n" \
"################################################################\n" \
"################################################################\n" \
"-----END RSA PRIVATE KEY-----";

#endif